# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.k-syndicate course.iml
# Datasource local storage ignored files
/../../../../../../../:\repo\Study\k-syndicate course\.idea\.idea.k-syndicate course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
