# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MergeSorting.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Рабочий стол\Задачи C#\MergeSorting\.idea\.idea.MergeSorting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
